@font-face {
    font-family: "Cartograph CF";
    src: 
        url("./fonts/CartographCF-DemiBoldItalic.woff2") format("woff2"),
        url("./fonts/CartographCF-DemiBoldItalic.woff") format("woff");
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: "Cartograph CF";
    src: 
        url("./fonts/CartographCF-DemiBold.woff2") format("woff2"),
        url("./fonts/CartographCF-DemiBold.woff") format("woff");
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: "Cartograph CF";
    src: 
        url("./fonts/CartographCF-RegularItalic.woff2") format("woff2"),
        url("./fonts/CartographCF-RegularItalic.woff") format("woff");
    font-weight: normal;
    font-style: italic;
}


