@font-face {
    font-family: "Cartograph CF";
    src: 
        url("./fonts/CartographCF-ExtraBoldItalic.woff2") format("woff2"),
        url("./fonts/CartographCF-ExtraBoldItalic.woff") format("woff");
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: "Cartograph CF";
    src: 
        url("./fonts/CartographCF-DemiBold.woff2") format("woff2"),
        url("./fonts/CartographCF-DemiBold.woff") format("woff");
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: "Cartograph CF";
    src: 
        url("./fonts/CartographCF-ThinItalic.woff2") format("woff2"),
        url("./fonts/CartographCF-ThinItalic.woff") format("woff");
    font-weight: thin;
    font-style: italic;
}


